@import url(http://fonts.googleapis.com/css?family=Halant:300|Raleway);

body {
  padding:50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight:200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Halant', serif;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  font-size:14px;
  font-style:sans-serif;
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:48px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}
